:root {
  --bg-color: #3a3a3a;
  --darkened-bg-color: #131313;
  --shadow-color: #454545;
  --white-color: #eeeeee;
  --star-icon-darkened-fill: #797979;
}

body {
  background-color: #272727;
}

* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;

  outline: none;
}

*:focus:not(.star-icon, .search-reset-btn) {
  background-color: var(--bg-color);   
  box-shadow: inset 0 0 0 1px var(--white-color);
}